name: Docker Image CI Production

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Web
        env:
            NODE_OPTIONS: "--max_old_space_size=4096"
        run: |
          IMAGE_NAME="onairtoday/onair"
          TAG="lms-${{ github.run_number }}-$(date -u +%Y-%m-%dT%H-%M-%SZ)"
          LATEST_TAG="lms-latest"
          docker build --tag $IMAGE_NAME:$TAG --tag $IMAGE_NAME:$LATEST_TAG \
            --build-arg APP=lms \
            --build-arg START_COMMAND=server \
            --build-arg SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} \
            --build-arg NEXT_PUBLIC_APP_ENV=production \
            --build-arg NEXT_PUBLIC_REQUEST_ENCRYPTION=true \
            --build-arg NEXT_PUBLIC_SITE_URL=lms.onair.today \
            --build-arg NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=${{ secrets.NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY }} \
            --build-arg NEXT_PUBLIC_SUPABASE_URL=${{ secrets.NEXT_PUBLIC_SUPABASE_URL }} \
            --build-arg NEXT_PUBLIC_STORAGE_URL=${{ secrets.NEXT_PUBLIC_STORAGE_URL }} \
            --build-arg PROJECT_REF=${{ secrets.PROJECT_REF }} 
            -f ci/Dockerfile.web .
          docker push $IMAGE_NAME:$TAG
          docker push $IMAGE_NAME:$LATEST_TAG
